body{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border-radius: 10px;
    width: 20em;
    height: 15em;
    flex-direction: column;
    gap: 3%;
    background: rgba(255, 255, 255, 0.72);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
input{
    border: 1px solid black;
    width: 15em;
    height: 2em;
    border-radius:45px ;
}